.content {
    max-width: 600px;
}

@media (max-width: 450px) {
    .form {
        margin-top: 17%;
    }
}

.alert {
    height: 100%;
    font-size: 15px;
    padding: 0 1.25rem !important;
    margin-bottom: 0 !important;
    margin-top: 2px;
}

.spacing {
    margin: 5px 10px;
}

.form-control {
    border: 2px solid #c4c7c7 !important;
}