.sidebar {
  background: #ffffff;
  border-right: 1px solid #dee2e6 !important;
  text-align: left;
  width: 250px;
}

.logo {
  height: 60px;
  display: block;
  width: 100%;
  margin: 5px 0;
}
.logoImg {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.headNav {
  box-sizing: border-box;
  list-style: none;
  margin-top: 24px;
  margin-bottom: 16px;
  padding-left: 20px;
  color: rgb(33, 43, 54);
  font-weight: 700;
  font-size: 0.7rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

@media (max-width: 576px) {
  .sidebar {
    padding-top: 80px;
    width: 60px;
  }
  .logo {
    display: none;
  }
  .headNav {
    display: none;
  }
}
