.list-container {
    height: 100vh;
    padding-top: 50px;
}

.description {
    max-width: 400px;
}

@media (max-width: 767px) {
    .delete {
        margin-top: 10px;
    }
    .list-container {
        height: 140vh;
    }
    .description {
        max-width: 150px;
    }
}