.welcome-text {
    color: black !important;
}

.clean-block.clean-info {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    text-align: center;
}

@media (max-width: 440px) {
    .slider-news {
        margin-bottom: 20px;
    }
}