.container_table_category{
    display: flex;
    justify-content: center;
    width: 98%;
    min-width: 320px;
    margin: 0 auto;
    color: black;
    padding: 0px 10px;
}
.container_thead{
    color: black;
    font-size: 14px;
}
table{
    width: 100%;
    font-size: 13px;
}
@media (max-width: 500px){
    .description{
        display: none;
    }
}
