th{
    line-height: 25px;
    padding: 10px 4px;
}
tr{
    overflow:scroll;
}
.container_edit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_delete{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.description{
    width: 55%;
}
@media (max-width: 500px){
    .description{
        display: none;
    }
}
.button_edit{
    /* background-color: #ab47bc; */
    background-color: #3a89df;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}
.button_edit:hover{
   
    background-color: #9AC9FB;
}
.button_delete{
    /* background-color: #ab47bc; */
    background-color: #ca1e18;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}
.button_delete:hover{
    background-color: #DB5752;
}
 /* background: linear-gradient(60deg,#ab47bc,#7b1fa2);   */