.slide {
    width: 100%;
}

.slide>img {
    height: 100vh;
}

@media (max-width: 440px) {
    .slide>img {
        height: 50vh;
    }
}

.slide>h2 {
    position: absolute;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 0;
}